.header{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  .icon{
    h2{
      font-size: 2em;
      font-weight: bold;
    }
  }
}